/* styles.css */

.app {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reportTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#reportTable tr {
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
}

#reportTable td {
    padding: 15px;
}

.name {
    color: #1abc9c; /* бирюзовый */
}

.subject {
    color: #f39c12; /* оранжевый */
}

.grade {
    color: #e74c3c; /* красный */
}

#generateSummaryButton {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#generateSummaryButton:hover {
    background-color: #45a049;
}
